<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DocMgmtDBConnectionString" connectionString="Data Source=USER-PC;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString"
            connectionString="Data Source=dell\sqlexpress;Initial Catalog=DocMgmtDB;User ID=sa;Password=sa1"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString1"
            connectionString="Data Source=USER-PC;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString2"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString3"
            connectionString="Data Source=Nipun-Office;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString4"
            connectionString="Data Source=RON\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString5"
            connectionString="Data Source=dell\sqlexpress;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString6"
            connectionString="Data Source=VOTRE-IT\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString7"
            connectionString="Data Source=NIPUN-OFFICE;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.masterConnectionString"
            connectionString="Data Source=VOTRE-IT\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCISDBManager.Properties.Settings.DocMgmtDBConnectionString8"
            connectionString="Data Source=ANONYMUS\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>