<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DocMgmtDBConnectionString" connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DocMgmtDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- Must not change the length -->
    <add key="DecKey" value="EncDecabc1234tIISKey"/>
    <add key="ErroLogPath" value="D:\\NCE_ErrorLog\\"/>
  </appSettings>
</configuration>